h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    
    padding: 80px 70px 20px 70px;
    max-width: 1880px;
    display:block;
    margin:auto;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    
    padding: 60px 70px 20px 70px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;

    padding: 24px 70px 0px 24px;
    max-width: 1880px;
    display:block;
    margin:auto;
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

    display: block; 
    margin: 10px auto 10px auto;
    text-align: center
}

header img {
    max-width: 95%;
    border-radius: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px
}
header p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    
    padding: 0px 70px 0px 70px;
    max-width: 1880px;
    display:block;
    margin:auto;
}

main {
    max-width: 1940px;
    display:block;
    margin:auto;
}
.cards a {
    text-decoration: none;
    color: inherit;
}
.cards img {
    width: 500px;
    border-radius: 20px;
    transition: 300ms;
}
.cards img:hover {
    border-radius: 24px;
}
.cards p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    padding: 10px 25px 20px 25px;
    max-width: 1880px;
    display:block;
    margin:auto;
}

.dalle-card {
    display: inline-block;
    border-radius: 26px;
    transition: 300ms;
    width: 500px;
    margin: 0px 0px 50px 70px;
}
.dalle-card:hover {
    background: #c2e7ff70;
}

.calculator-card {
    display: inline-block;
    border-radius: 26px;
    transition: 300ms;
    width: 500px;
    margin: 0px 0px 50px 70px;
}
.calculator-card:hover {
    background: rgba(220, 255, 194, 0.439);
}

.SteadyAI h2 {
    padding: 0px 70px 0px 70px;
}

.SteadyAI p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 0px 70px 0px 70px;
}

.SteadyAI img {
    width: 530px;
    display: block; 
    margin: 0 auto;
    padding: 0px 70px 20px 70px;
}

.svg {
    width: 100%;
    margin: 30px 0px 80px 0px;
    padding: 0px 20px;
    box-sizing:border-box;
}

footer a {
    text-decoration: none;
}
footer a img {
    width: 50px;
    display: block; 
    margin: 0 auto;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    display: block; 
    margin: 0px auto 50px auto;
    text-align: center
}

@media only screen and (min-width: 2000px) {

    header img {
        max-width: 1900px;
        display:block;
        margin:auto;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 700px) {

    h1 {
        font-size: 35px;
        padding: 50px 0px 20px 30px;
    }
    h2 {
        font-size: 35px;
        padding: 30px 0px 20px 30px;
    } 
    header img {
        max-width: 600px;
        display: block; 
        margin: 0 auto;
        padding: 0px 10px 0px 5px;
        box-sizing:border-box;
        border-radius: 40px;
    }
    header p {
        font-size: 18px;
        padding: 0px 0px 0px 37px;
    }
    
    .dalle-card {
        padding: 0;
        display: block; 
        margin: 0 auto 50px 30px;
    }
    .calculator-card {
        padding: 0;
        display: block; 
        margin: 0 auto 50px 30px;
    }
    .cards img {
        width: 100%;
        border-radius: 20px;
        transition: 300ms;
    }
    .svg {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .SteadyAI img {
        width: 50%;
    }
}